.Header {
  /* background-color: antiquewhite; */
  padding: 12px;

  margin: 100px auto;

  width: 60vw;
  margin: auto;
}
.Header h2 {
  letter-spacing: 10px;
  color: #fffda2;
  font-size: 2rem;
  margin: 20px auto;
  transform: scale(0.5, 1);
  text-shadow: 2px 2px 3px red, 4px 4px 3px green, 6px 6px 3px blue;
  font-variant: small-caps;
  /* line-height: 10px; */
}
.headerbtn1 {
  background-color: white;
  border: 2px solid white;
  margin: 2px;
  padding: 7px 20px;
  border-radius: 25px;
  color: red;
  box-shadow: inset 1px 1px 10px #000000;
}
.headerbtn2 {
  background-color: brown;
  border: 2px solid white;
  margin: 2px;
  padding: 7px 20px;
  border-radius: 25px;
  color: white;
  box-shadow: inset 1px 1px 10px #000000;
}

.headerbtn1:hover {
  background-color: gray;
  border: 2px solid rgba(0, 0, 0, 0.247);

  color: white;
}
.headerbtn2:hover {
  background-color: gray;
  border: 2px solid rgba(0, 0, 0, 0.247);

  color: white;
}
